@font-face {
	font-family: GinoraSansLight;
	font-weight: bold;
	src: url('./fonts/GinoraSansLight.otf') format('opentype');
}

@font-face {
	font-family: GinoraSansRegular;
	font-weight: bold;
	src: url('./fonts/GinoraSansRegular.otf') format('opentype');
}

@font-face {
	font-family: GinoraSansBold;
	font-weight: bold;
	src: url('./fonts/GinoraSansBold.otf') format('opentype');
}


@font-face {
	font-family: LibreBaskerville-Regular;
	font-weight: normal;
	src: url('./fonts/LibreBaskerville-Regular.otf') format('opentype');
}

@font-face {
	font-family: LibreBaskerville-Italic;
	font-weight: normal;
	src: url('./fonts/LibreBaskerville-Italic.otf') format('opentype');
}
