@font-face {
  font-family: "Jaune v0.6 TRIAL Grande Black";
  font-weight: 800;
  font-display: fallback;
  src: url("/fonts/Jaunev0.6-GrandeBlack_TRIAL.otf") format("otf");
}

@font-face {
  font-family: "Jaune v0.6 TRIAL Grande Light";
  font-weight: 200;
  font-display: fallback;
  src: url("/fonts/Jaunev0.6-GrandeLight_TRIAL.otf") format("otf");
}

@font-face {
  font-family: "HK Nova Medium";
  font-weight: 200;
  font-display: fallback;
  src: url("/fonts/HKNova-Medium.otf") format("otf");
}
