$blue: #1700FC;

.headerContainer {
	padding-bottom: 5em;
}

.headerName {
	float: left;
	padding-left: 10%;
}

.headerAbout {
	cursor: pointer;
	float: right;
	padding-right: 10%;
}

.headerAbout:hover {
	background: $blue;
	color: #FFF;
}

.headerName, .headerAbout {
	font-family: GinoraSansBold;
	font-size: 3em;
	color: $blue;
}

hr {
	margin: 1em 10% 0.5em 10%;
	border: 0;
	border-top: 5px solid $blue;
}

