$blue: #1700FC;
$yellow: #FCD700;
.header {
	padding-bottom: 5em;
}

.header_name {
	float: left;
	padding-left: 10%;
}

.header_about {
	cursor: pointer;
	float: right;
	margin-right: 9%;
	padding: 0 0.4em;

	&:hover {
		background: $yellow;
	}
}

.header_name, .header_about {
	font-family: GinoraSansBold;
	font-size: 3em;
	color: $blue;
}

hr {
	margin: 1em 10% 0.5em 10%;
	border: 0;
	border-top: 5px solid $blue;
}

