// /****** iPhone 5 ********/
@media only screen 
and (min-width : 320px) 
and (max-width : 480px) { 
	
	#gridContainer {
		margin-bottom: 2em;
	}

	.header {
		padding-bottom: 0;
	}

	.header_name, .header_about {
		display: block;
	}

	.header_name {
		float: none;
	}

	.header_about {
		float: left;
		padding-left: 10%;
	}
}


// /****** iPhone 6 portait ********/
@media only screen 
and (min-width : 375px) 
and (max-width : 667px) { 
	
	#gridContainer {
		margin-bottom: 2em;
	}

	.header {
		padding-bottom: 0;
	}

	.header_name, .header_about {
		display: block;
		font-size: 2em;
	}

	.header_name {
		float: none;
	}

	.header_about {
		float: left;
		padding-left: 10%;
	}

	.project_container > .project_title {
		font-size: 1.25em;
		line-height: 1.25em;
	}

	.ReactModal__Content, .ReactModal__Content--after-open {
		top: 10px !important;
		right: 10px !important;
		bottom: 10px !important;
		left: 10px !important;
	}

	.modal_about_image {
		margin-top: 1.5em;
	}

	.modal_nav {
		padding-bottom: 0;
	}

	.modal_title {
		margin: 0.25em 0 0.25em 0;
		font-size: 1.75em;
	}
	.modal_about_text {
		font-size: 0.8em;
		line-height: 1.85em;
		width: 100%;
		padding: 0;
	}

	.modal_about_text, .modal_about_email {
		margin-top: 1em;
	}

	.modal_about_image, .modal_about_email {
		width: 100%;
	}

	#modal_about_email {
		width: 100%;
		margin-top: 1em;
	}

	#modal_about_email_id {
		display: block;
	}

	.modal_image_container, .modal_info_container {
		padding-left: 0;
	}

	.modal_carousel_img {
		width: 100%;
	}

	.modal_carousel_video {
		width: 100%;
		height: auto;
	}

	.slick-prev:before, .slick-next:before {
		font-size: 27px;
	}

	// #modal_carousel_prev_arrow {
	// 	left: -15%;
	// }

	#modal_carousel_next_arrow {
		left: 102%;
	}
}


// /****** iPhone 6 landscape ********/
@media only screen 
and (min-device-width : 414px) 
and (max-device-width : 736px) 
and (orientation : landscape) 
{
	#gridContainer {
		margin-bottom: 2em;
	}

	.modal_title {
		z-index: 10;
		margin-top: 0.5em;
	}

	.modal_nav {
		padding-bottom: 0;
	}

	.modal_about_text {
		width: 100%;
		padding: 1em 0;
	}

	#modal_about_email {
		width: 75%;
	}

	.modal_image_container {
		padding-left: 0;
	}
	
	.slick-prev:before, .slick-next:before{
		font-size: 27px;
	}

	#modal_carousel_prev_arrow {
		margin-left: -1%;
	}

	// #modal_carousel_next_arrow {
	// 	left: 102%;
	// }

	.modal_about_image {
		margin-top: 1.5em;
	}

	.modal_about_image, .modal_carousel_img, .modal_carousel_video {
		width: 100%;
	}

}


