$blue: #1700FC;

/////////~~~~~~~~~~
//////
// Adding animation to modal open/close
// https://github.com/reactjs/react-modal/issues/334
.ReactModalPortal > div {
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
  transition: opacity 400ms ease-in-out;
  background: rgba(0, 0, 0, 0.15);
  &--after-open {
    opacity: 1;
  }
  &--before-close {
      opacity: 0;
  }
}

.ReactModal__Content {
  transition: all 400ms ease-in-out;
  transform: translateY(30px);
  opacity: 0;

  &--after-open {
    opacity: 1;
    transform: translateY(0);
  }

  &--before-close {
    opacity: 0;
    transform: translateY(30px);
  }
}
//////
/////////~~~~~~~~~~


.modal_container, .modal_image_container, .modal_nav {
	padding-left: 1em;
}

.modal_container, .modal_about_container {
	padding-right: 1em;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-flow: row wrap;
    float: left;
    width: 100%;
}


.modal_image_container {
	fill: white;
	flex-basis: 60%;
	width: 60%;
}

.modal_info_container {
	flex-basis: 35%;
	width: 35%;
	padding-right: 18px;
}

.modal_nav {
	flex-basis: 100%;
	padding-bottom: 1.5em;
}

.modal_close {
	border-radius: 0;
    border: 3px solid $blue;
    color: #FFF;
    background-color: $blue;
    display: inline-block;
    margin-bottom: 1em;
    font-weight: bold;
    padding: 6px 12px;
    line-height: 1.5;
    cursor: pointer;
    &:hover {
		border: 3px solid $blue;
		color: $blue;
		background-color: #FFF;    	
    }
}


.btn:focus,.btn:active,.btn:active:focus, {
	outline: none;
	box-shadow: none;
	border: 3px solid $blue;
	color: $blue;
	background-color: #FFF;
}

.ReactModal__Content, .ReactModal__Content--after-open {
	top: 2em !important;
	right: 2em !important;
	bottom: 2em !important;
	left: 2em !important;
}

.modal_info_head, .modal_info_body, .modal_info_foot {
	color: $blue;
}

.modal_title {
	display: inline-block;
	margin-top: 0;
	background-color: $blue;
	color: #FFF;
	padding: 0.2em;
	font-family: GinoraSansBold;
}

.modal_info_head, .modal_info_foot {
	font-family: LibreBaskerville-Italic;
}

.modal_info_head {
	display:block;
}

.modal_info_body {
	font-family: LibreBaskerville-Regular;
	margin: 1em 0;
}

.modal_about_info {
	margin-top: -2em;
}

.modal_about_image {
	display: block;
	margin: auto;
	width: 50%;
}

.modal_about_text {
	color: $blue;
	font-family: LibreBaskerville-Regular;
	font-size: 1.25em;
	line-height: 1.65em;
	text-align: center;
	margin: auto;
	width: 66.6%;
	padding: 1em 2em;
}

#modal_about_email {
	width: 50%;
	margin: 0 auto;
	display: block;
	background-color: $blue;
	color: #FFF;
	text-align:center;
}

.modal_about_image, .modal_carousel_img {
	border: 5px solid $blue;
}

.modal_carousel_img {
	width: 85%;
}

.slick-prev:before {
	content: '\25C0';
}

.slick-next:before {
	content: '\25B6';
}

.slick-prev:before, .slick-next:before {
	font-size: 40px;
	color: $blue;
}


#modal_carousel_prev_arrow {
	margin-left: -3%;
}

#modal_carousel_next_arrow {
	margin-right: 13%;
}


// Few helper media queries for weird resizing
@media only screen
and (min-width : 750px) 
and (max-width : 1000px) {
	.modal_image_container, .modal_info_container, .modal_nav {
		padding-left: 1em;
	}
}

@media only screen 
and (max-width : 1000px) { 

	.modal_title {
		margin-top: 0.5em;
	}

	.modal_image_container, .modal_info_container, .modal_nav {
		flex-basis: 100%;
		width: 100%;
	}

}