@import 'fonts';
$backgroundCol: #00F;
$textCol: #FFF;
$linkCol: #F00;

body {
  background-color: $backgroundCol;
  padding: 10px;
}

.title {
  font-size: 2em;
  font-family: "Apercu Mono", sans-serif;
  font-weight: 400;
  color: $textCol;
  background-color: $backgroundCol;
  padding: 8px;
  width: fit-content;

  a {
    color: $linkCol;
    text-decoration: none;
    transition: transform 200ms ease;
  
    &:hover {
      color: #0F0;
    }
  }
}

.row {
  padding: 0;
  margin: 0;
  list-style: none;
}

.row-item {
  display: flex;
  justify-content: space-between;

	&__dot {
    margin: -2px -0.5px;
    width: 100%;
    height: 10px;
    mix-blend-mode: multiply;
    opacity: 0.75;
    border: 1px solid #000;
	}
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

