@import 'header';
@import 'modal';
$blue: #1700FC;



@font-face {
	font-family: GinoraSansBold;
	font-weight: bold;
	src: url('./fonts/GinoraSansBold.otf') format('opentype');
}

@font-face {
	font-family: GinoraSansLight;
	font-weight: bold;
	src: url('./fonts/GinoraSansLight.otf') format('opentype');
}

@font-face {
	font-family: LibreBaskerville-Regular;
	font-weight: normal;
	src: url('./fonts/LibreBaskerville-Regular.otf') format('opentype');
}

@font-face {
	font-family: LibreBaskerville-Italic;
	font-weight: normal;
	src: url('./fonts/LibreBaskerville-Italic.otf') format('opentype');
}


#gridContainer {
	padding: 0 25em 0 25em;
}

.projectParent {
	position:relative;

}

.project {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	background-size: 100%;
	background-repeat: no-repeat;
	-webkit-transition: background 0.5s ease;
}

.project:hover {
	-webkit-transition: background-size 0.5s ease;
	background-size: 175%;
}

.dummy {
	margin-top: 100%;
}

// keep for hover?
.layer {
    //background-color: rgba(25, 25, 25, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.projectTitle {
	font-family: GinoraSansBold; 
	color: #FFF;
	background-color: $blue;
	font-size: 2.5em;
	display: table;
	margin: 0 auto;
	margin-top: 30%;
	text-align: center;
}



@media only screen 
and (min-width: 800px) 
and (max-width: 1000px) {

	.project {

		display:block;
	}


}